.nav{
    background-color: $secondary;
    height: 70px;
    z-index: 999999;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: sticky;
    top: 0;
}

.logo-nav {
    width: 40px;
    height: 40px;
    border: 3px solid $primary;
    border-radius: 50%;
}

.logo__text {
    display: none;
    font-size: 29px;
    padding-left: 10px;
    color: $primary;
    @media screen and(min-width: 768px) {
        display: flex;
    }
}
 

.hamburger__menu {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-end;

    :first-child {
        height: 3px;
        width: 35px;
        background-color: #ffffff;
        margin-bottom: 6px;
    }
    :nth-child(2) {
        height: 3px;
        width: 43px;
        background-color: #ffffff;
        margin-bottom: 6px;
    }
    :nth-child(3) {
        height: 3px;
        width: 30px;
        background-color: #ffffff;
        margin-bottom: 6px;
    }
    @media screen and(min-width: 769px) {
        display: none;
    }
}


.menu__navigation ul {
    flex-flow: column;
    background-color: $secondary;
    position: absolute;
    top: 70px;
    right: 0;
    height: 100vh;
    width: 0%;
    justify-content: flex-start;
    transition: width 0.6s ease-in-out;
    overflow-x: hidden;
    overflow-y: scroll;
    li:first-child {
        position: relative;
       &:after {
           content: "";
           position: absolute;
           display: block;
           height: 3px;
           width: 78.28px;
           background-color: $primary;
       }
    }
    li {
        margin: 20px 0;
    }
    @media screen and(min-width: 769px) {
        position: unset;
        flex-flow: unset;
        height: unset;
        width: unset;
        transform: unset;
        overflow-x: unset;
        overflow-y: unset;
        li {
        margin: unset;
        }
    }
}

.show__menu-mobile {
    width: 45% !important;
}
