.flex-center {

    display: flex;
    align-items: center;
    justify-content: center;
}

.padding-ul {

    li a {

        padding: 0 15px;
    }
}


.display__none {

    display: none;

    @media screen and (min-width: 768px) {

        display: inline;
    }
}

a {
    color: #ffffff;
    transition: 0.15s ease-in-out;

    &:hover{

        color: $primary-color;
    }
}

.contact {
    
    transition: unset;
    color: $primary-color;
}